---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<div class="research-simple">

<p class="research-intro">
  Most of the research carried out as part of my students' training, as well as my own academic training, has been funded by Brazilian public agencies such as
  <a href="https://www.gov.br/capes/pt-br/">CAPES</a>,
  <a href="https://www.gov.br/cnpq/pt-br">CNPq</a>, and
  <a href="https://fapesp.br/">FAPESP</a>.
  These sources of support are acknowledged in the Publications and Students sections.
  Here, I list the research funding I have received since completing my PhD.
</p>


{% assign grants = site.data.research.grants | sort: "date" | reverse %}

{% if grants.size > 0 %}
<h2>Research Grants</h2>

<div class="research-list">

{% for grant in grants %}
<p class="research-line">

  <span class="research-number">[{{ forloop.rindex }}]</span>

  {% if grant.process %}
    {% if grant.processurl and grant.processurl != "" %}
      <a href="{{ grant.processurl }}">{{ grant.process }}</a>.
    {% else %}
      {{ grant.process }}.
    {% endif %}
  {% endif %}

  {% if grant.institution %}
    {{ grant.institution }}.
  {% endif %}

  {% if grant.title %}
    <strong>{{ grant.title }}</strong>.
  {% endif %}

  {% if grant.type %}
    {{ grant.type }}.
  {% endif %}

  {% if grant.host %}
  Academic host:
  {% if grant.hosturl and grant.hosturl != "" %}
    <a href="{{ grant.hosturl }}">{{ grant.host }}</a>.
  {% else %}
    {{ grant.host }}.
  {% endif %}
{% endif %}

  {% if grant.start %}
    {{ grant.start }}{% if grant.end %}–{{ grant.end }}{% endif %}.
  {% endif %}

  {% if grant.role %}
    {{ grant.role }}.
  {% endif %}

</p>
{% endfor %}

</div>
{% endif %}

</div>


<style>
.research-simple {
  max-width: 950px;
}

.research-simple h2 {
  margin-top: 1.8em;
  margin-bottom: 1em;
  padding-bottom: 0.25em;
  font-size: 1.25em;
  font-weight: 600;
  border-bottom: 1px solid var(--global-border-color);
}

.research-line {
  margin: 0 0 0.8em 0;
  line-height: 1.6;
}

.research-number {
  margin-right: 0.5em;
}

.research-line a {
  text-decoration: none;
}

.research-line a:hover {
  text-decoration: underline;
}

.research-intro {
  margin-bottom: 1.8em;
  line-height: 1.6;
}
</style>
